{% extends 'base.html' %}


{% block content %}

<h1>Change the password</h1>
<form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %} <!-- form.title is replaced by f, form.slug the same/ iterates through each field taken from model Men: title, slug, content etc. -->
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p> <!-- here is class="form-label", however if we need to write our custom classes then we go to the forms and create attribute widget -->
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button type="submit">Change the password</button></p>
</form>

{% endblock %}